#header {
	position: absolute;
	background-color: lightskyblue;
	top: 0;
	left: 0;
	height: 300px;
	width: 100%;
	z-index: 100;
}

.buttons {
	position: relative;
	top: 70px;
	margin: auto;
}

.button {
	margin-left: 5px;
}


#user_name_search {
	position: relative;
	max-width: 500px;
	top: 150px;
	margin: auto;
}

.page_name_box {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 100px;
	text-align: center;
	padding: 0;
}

.page_name_box h2 {
	color: white;
	padding: 0;
	padding-top: 5px;
}